body {
  background-color: #f5d9df;
  font-family: "Nunito", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

#mainElement {
  color: #ea1c2c;
  font-size: 1.5rem;
  font-weight: 300;
}

.container-fluid {
  font-size: 1.5rem;
  font-weight: 300;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
}

@media (max-width: 1400px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 2.5rem;
  }
}

.content {
  margin-top: 120px;
}

#firstHeading {
  font-size: 2.5rem;
  font-weight: 100;
  color: #ea1c2c;
}
.para {
  color: #f498b8;
  line-height: 2;
  padding-top: 2rem;
  font-weight: 100;
  font-size: 1.2rem;
}

.navbar.scrolled {
  background: #ffccff;
  transition: background 0.4s ease-in-out;
}
